@use "../abstracts/variables" as vars;

.zc-stepper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: vars.$spacing-md;
    position: relative;

    .zc-step {
        flex: 1;
        text-align: center;
        position: relative;
        padding: vars.$spacing-md;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 2px;
            background-color: vars.$stepper-line-color;
            z-index: -1;
            transform: translateY(-50%);
            transition: background-color 0.3s ease;
        }

        &:last-child::before {
            content: none; // Menghapus garis terakhir
        }

        &.completed + .zc-step::before {
            background-color: vars.$success-color;
        }

        &.active + .zc-step::before {
            background-color: vars.$primary-color;
        }

        &.completed {
            .zc-step-icon {
                background-color: vars.$success-color;
            }
            .zc-step-label {
                color: vars.$success-color;
            }
        }

        &.active {
            .zc-step-icon {
                background-color: vars.$warning-color;
                animation: spin 1s linear infinite;
            }
            .zc-step-label {
                color: vars.$primary-color;
            }
        }

        &:hover .zc-step-icon {
            transform: scale(1.1);
            transition: transform 0.3s ease;
        }

        .zc-step-icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            color: vars.$white;
            margin: 0 auto 0.5rem;
            background-color: vars.$primary-color;
            transition: transform 0.3s ease;
        }

        .zc-step-label {
            font-size: 1rem;
            color: vars.$text-color-dark;
        }
    }
}

/* Keyframe Animations */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: vars.$breakpoint-sm) {
    .zc-stepper {
        flex-direction: column;
        align-items: flex-start;

        .zc-step {
            text-align: left;

            &::before {
                top: auto;
                left: 50%;
                right: auto;
                height: auto;
                width: 2px;
                transform: translateX(-50%);
            }
        }

        .zc-step-icon {
            margin-bottom: vars.$spacing-sm;
        }
    }
}
