.zc-toast {
    position: fixed;
    z-index: 1050;
    min-width: 200px;
    background-color: #fff;
    border: 1px solid #ced4da;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.zc-toast.show {
    opacity: 1;
    visibility: visible;
}

.zc-toast.top-right {
    top: 1rem;
    right: 1rem;
}

.zc-toast.top-left {
    top: 1rem;
    left: 1rem;
}

.zc-toast.bottom-right {
    bottom: 1rem;
    right: 1rem;
}

.zc-toast.bottom-left {
    bottom: 1rem;
    left: 1rem;
}

.zc-toast-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.zc-toast-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}
