@use "../abstracts/variables" as vars;

/* Display Utilities */

/* Global Display */
.zc-d-none {
    display: none;
}

.zc-d-inline {
    display: inline;
}

.zc-d-block {
    display: block;
}

.zc-d-flex {
    display: flex;
}

.zc-d-inline-block {
    display: inline-block;
}

.zc-d-grid {
    display: grid;
}

.zc-d-inline-flex {
    display: inline-flex;
}

/* Responsive Display */
@media (min-width: vars.$breakpoint-sm) {
    .zc-d-sm-none {
        display: none;
    }

    .zc-d-sm-inline {
        display: inline;
    }

    .zc-d-sm-block {
        display: block;
    }

    .zc-d-sm-flex {
        display: flex;
    }

    .zc-d-sm-inline-block {
        display: inline-block;
    }

    .zc-d-sm-grid {
        display: grid;
    }

    .zc-d-sm-inline-flex {
        display: inline-flex;
    }
}

@media (min-width: vars.$breakpoint-md) {
    .zc-d-md-none {
        display: none;
    }

    .zc-d-md-inline {
        display: inline;
    }

    .zc-d-md-block {
        display: block;
    }

    .zc-d-md-flex {
        display: flex;
    }

    .zc-d-md-inline-block {
        display: inline-block;
    }

    .zc-d-md-grid {
        display: grid;
    }

    .zc-d-md-inline-flex {
        display: inline-flex;
    }
}

@media (min-width: vars.$breakpoint-lg) {
    .zc-d-lg-none {
        display: none;
    }

    .zc-d-lg-inline {
        display: inline;
    }

    .zc-d-lg-block {
        display: block;
    }

    .zc-d-lg-flex {
        display: flex;
    }

    .zc-d-lg-inline-block {
        display: inline-block;
    }

    .zc-d-lg-grid {
        display: grid;
    }

    .zc-d-lg-inline-flex {
        display: inline-flex;
    }
}

@media (min-width: vars.$breakpoint-xl) {
    .zc-d-xl-none {
        display: none;
    }

    .zc-d-xl-inline {
        display: inline;
    }

    .zc-d-xl-block {
        display: block;
    }

    .zc-d-xl-flex {
        display: flex;
    }

    .zc-d-xl-inline-block {
        display: inline-block;
    }

    .zc-d-xl-grid {
        display: grid;
    }

    .zc-d-xl-inline-flex {
        display: inline-flex;
    }
}
