.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
    top: 0;
    right: 0;
}

.position-fixed {
    position: fixed !important;
    bottom: 0;
    right: 0;
}

.position-sticky {
    position: sticky !important;
    top: 0;
}
