@use "../abstracts/variables" as vars;

/* Position Utilities */
.zc-position-static {
    position: static !important;
}

.zc-position-relative {
    position: relative !important;
}

.zc-position-absolute {
    position: absolute !important;
    top: 0;
    right: 0;
}

.zc-position-fixed {
    position: fixed !important;
    bottom: 0;
    right: 0;
}

.zc-position-sticky {
    position: sticky !important;
    top: 0;
}

/* Top, Right, Bottom, Left Utilities */
.zc-top-0 {
    top: 0 !important;
}
.zc-right-0 {
    right: 0 !important;
}
.zc-bottom-0 {
    bottom: 0 !important;
}
.zc-left-0 {
    left: 0 !important;
}

.zc-top-auto {
    top: auto !important;
}
.zc-right-auto {
    right: auto !important;
}
.zc-bottom-auto {
    bottom: auto !important;
}
.zc-left-auto {
    left: auto !important;
}

.zc-position-box {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.zc-sticky-box {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #ffc107;
    font-size: 1rem;
    z-index: 10;
    position: sticky;
    top: 0;
}

.zc-description {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #555;
}

/* Responsive Position Utilities */
@media (min-width: vars.$breakpoint-sm) {
    .zc-position-sm-static {
        position: static !important;
    }
    .zc-position-sm-relative {
        position: relative !important;
    }
    .zc-position-sm-absolute {
        position: absolute !important;
    }
    .zc-position-sm-fixed {
        position: fixed !important;
    }
    .zc-position-sm-sticky {
        position: sticky !important;
    }
}

@media (min-width: vars.$breakpoint-md) {
    .zc-position-md-static {
        position: static !important;
    }
    .zc-position-md-relative {
        position: relative !important;
    }
    .zc-position-md-absolute {
        position: absolute !important;
    }
    .zc-position-md-fixed {
        position: fixed !important;
    }
    .zc-position-md-sticky {
        position: sticky !important;
    }
}

@media (min-width: vars.$breakpoint-lg) {
    .zc-position-lg-static {
        position: static !important;
    }
    .zc-position-lg-relative {
        position: relative !important;
    }
    .zc-position-lg-absolute {
        position: absolute !important;
    }
    .zc-position-lg-fixed {
        position: fixed !important;
    }
    .zc-position-lg-sticky {
        position: sticky !important;
    }
}

@media (min-width: vars.$breakpoint-xl) {
    .zc-position-xl-static {
        position: static !important;
    }
    .zc-position-xl-relative {
        position: relative !important;
    }
    .zc-position-xl-absolute {
        position: absolute !important;
    }
    .zc-position-xl-fixed {
        position: fixed !important;
    }
    .zc-position-xl-sticky {
        position: sticky !important;
    }
}
