.m-0 {
    margin: 0 !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.ml-1 {
    margin-left: 0.25rem !important;
}

.mr-1 {
    margin-right: 0.25rem !important;
}

.p-0 {
    padding: 0 !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}

.pb-2 {
    padding-bottom: 0.5rem !important;
}

.pl-1 {
    padding-left: 0.25rem !important;
}

.pr-1 {
    padding-right: 0.25rem !important;
}

.m-auto {
    margin: auto !important;
}

.p-auto {
    padding: auto !important;
}
