@use "../abstracts/variables" as variables;

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-primary {
    color: variables.$primary-color !important;
}

.text-secondary {
    color: variables.$secondary-color !important;
}

.text-success {
    color: variables.$success-color !important;
}

.text-danger {
    color: variables.$danger-color !important;
}

.text-warning {
    color: variables.$warning-color !important;
}

.text-info {
    color: variables.$info-color !important;
}
