@use '../abstracts/variables' as vars;

.zc-footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
    color: #555;
    border-top: 1px solid #e9ecef;
    margin-top: 2rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }

    /* Responsivitas */
    @media (max-width: 768px) {
        padding: 1rem;
        font-size: 0.8rem;
    }
}
